:root {
    --lightBlue: #e3f1f1;
    --mediumBlue: #98c1d9;
    --deepBlue: #3e5b7f;
    --darkBlue: #293241;
    --lightOrange: #ee6644;
    --darkOrange: #b43f22;
    --dayBG: #e6e6e6;
    --nightBG: #282828;
}
