:root {
    --lightBlue: #e3f1f1;
    --mediumBlue: #98c1d9;
    --deepBlue: #3e5b7f;
    --darkBlue: #293241;
    --lightOrange: #ee6644;
    --darkOrange: #b43f22;
    --dayBG: #e6e6e6;
    --nightBG: #282828;
    --blackText: #2b282a;
    --gunmetal: #293241;
    --yellow: #e9e843;
    --lightCoral: #f76c6c;
    --lightSlateGrey: #7795a6;
    --cadetBlueCrayola: #a4b8c4;
    --silverSand: #c2ccd6;
    --lightGrey: #c8d3d5;
    --lightGreen: #9eff8e;
}
