@import './colourScheme.css';
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--gunmetal);
    align-items: center;
    justify-content: center;
}

.contents {
    display: block;
    background-color: var(--lightSlateGrey);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
}

.hidden {
    display: none;
}

.primary {
    width: 100%;
    height: 100%;
    display: block;
}

.secondary {
    width: 100%;
    height: 100%;
    display: block;
}

.header {
    text-align: center;
    color: var(--blackText);
    font-family: 'Audiowide';
    font-size: 38px;
    font-weight: 400;
    padding-top: 60px;
}

.nameInputs {
    height: 56px;
    width: 342px;
    border-radius: 5px;
    background-color: rgba(227, 241, 241, 0.5);
    margin: 31px 29px 30px 29px !important;
}
.codeInputs {
    height: 56px;
    width: 265px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(227, 241, 241, 0.5);
    margin-left: 29px !important;
}

.joinButton,
.createButton {
    opacity: 100%;
    width: 342px;
    height: 56px;
    cursor: pointer;
    margin: 15px 29px !important;
}

.joinButton:disabled,
.joinLobbyButton:disabled,
.createButton:disabled {
    opacity: 50%;
}

.joinForm {
    display: flex;
}

.joinLobbyButton,
.goBackButton {
    font-family: 'Roboto' !important;
}

.joinLobbyButton {
    width: 77px;
    height: 56px;
    cursor: pointer;
}

.goBackButton {
    width: 342px;
    height: 56px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    background-color: var(--cadetBlueCrayola);
    border: none;
    border-radius: 5px;
    margin: 51px 29px 26px 29px !important;
}

.validNickname {
    width: 342px;
    color: var(--lightGreen);
    list-style-type: none;
}

.invalidNickname {
    width: 342px;
    color: #ff4c4c;
    list-style-type: none;
}

.checkers {
    display: block;
    height: 100px;
    width: 342px;
    margin: auto;
    left: 29px;
}

.checkitems {
    font-size: 23px;
}

.doneIcon {
    width: 13.18px;
    height: 13.18px;
    fill: var(--lightGreen);
}

.closeIcon {
    width: 13.18px;
    height: 13.18px;
    color: #ff4c4c;
}
