.lobbySettingsHeader {
    background: #247dc2;
}

.lobbySettingsTitle {
    text-align: left;
    float: left;
    padding: 20px;
}

.gameCode {
    text-align: right;
    float: right;
    padding: 20px;
}

.lobbySettingsOptions {
    background: #5f6468;
    text-align: left;
    padding: 20px;
}

.rolesButton {
    text-align: left;
}

.rolesButton:hover {
    border-bottom: 3px solid red;
}
  
.rolesButton.active {
    border-bottom: 3px solid red;
}

.mafiaSelectorText {
    text-align: left;
    float: left;
}

.mafiaSelectorDropdown {
    float: right;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-rows: auto;  
    padding: 20px;
  }