.container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
  }

.lobbySettingsHeader {
    background: #247dc2;
}

.lobbySettingsTitle {
    text-align: left;
    float: left;
    padding: 20px;
}

.gameCode {
    text-align: right;
    float: right;
    padding: 20px;
}

.lobbySettingsOptions {
    background: #5f6468;
    text-align: left;
    padding: 20px;
}

.rolesButton {
    text-align: left;
}

.rolesButton:hover {
    border-bottom: 3px solid red;
}
  
.rolesButton.active {
    border-bottom: 3px solid red;
}

.mafiaSelectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mafiaSelectorText {
    text-align: left;
    float: left;
}

.mafiaSelectorDropdown {
    float: right;
}