.lobbySettingsHeader {
    background: #247dc2;
}

.lobbySettingsTitle {
    text-align: left;
    float: left;
    padding: 20px;
}

.gameCode {
    text-align: right;
    float: right;
    padding: 20px;
}

.lobbySettingsOptions {
    background: #5f6468;
    text-align: left;
    padding: 20px;
}

.rolesButton {
    border: none;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

.container {
    display: grid;
    grid-template-rows: auto;  
    padding: 20px;
  }