.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 20px;
  }

.gameSettingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

.startGameButton {
    font-size: 24px;
    padding: 20px;
}