.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 360px 1fr;
    grid-template-areas: 
        "top-bar top-bar"
        "players game-settings"
        "chat game-settings"
        "chat start-button";
  }

.topBar {
    grid-area: top-bar;
}

.chatbox {
    grid-area: chat;
}

.playerNames {
    grid-area: players;
}

.lobbySettings {
    grid-area: game-settings;
}

.startButton {
    grid-area: start-button;
}