@import './colourScheme.css';

.playerWrapper {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    background-color: var(--mediumBlue);
    color: var(--deepBlue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.5rem;
}

.player {
    background-color: var(--deepBlue);
    color: var(--lightBlue);
}

.isHoverable:hover {
    background-color: var(--mediumBlue);
    cursor: pointer;
    border: 5px solid var(--deepBlue);
    transition: 0.2s ease background-color box-shadow;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.479);
    transform: scale(1.1);
}

.hasVoted:after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 10%;
    background-color: var(--lightOrange);
}

.isClicked {
    background-color: var(--darkOrange);
    color: var(--lightBlue);
}

.isClicked:hover {
    background-color: #99361e;
}

.isDead {
    background-color: var(--darkBlue);
    color: var(--lightOrange);
}

.playerText {
    text-align: center;
}
