.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.playerListHeader {
    background: #247dc2;
    padding: 20px;
    text-align: left;
    margin: 0px
}

.playerList {
    text-align: left;
    background: #5f6468;
    padding: 20px;
    margin: 0px
}

ul {
    list-style-type: none;
  }