@import './colourScheme.css';
@import url('https://fonts.googleapis.com/css?family=Audiowide');

.pageContainer {
    align-items: center;
    background-color: #A4B8C4!important;
}

.roleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.charaImg {
    float: left;
    padding-top: 7%;
}

.roleContainer h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Audiowide';
}

.spanTitle {
    font-weight: bold;
    font-size: 15px;
}
.spanContent {
    font-size: 15px;
}

.detail {
    width: 60%;
    float: right;
}

.dayRuleContainer {
    margin: 3em auto 2em auto;
    background-color: var(--lightGrey)!important;
    padding: 0.5em;
    width: 80%;
    text-align: justify;
    white-space: pre-line;
    overflow: auto;
}
.nightRuleContainer {
    margin: 0 auto 2em auto;
    background-color: var(--gunmetal)!important;
    color: white!important;
    padding: 0.5em;
    width: 80%;
    text-align: justify;
    white-space: pre-line;
    overflow: auto;
}

.ruleImg {
    float: left;
}

.ruleDetail {
    float:right;
    width: 90%;
}

.roleInfo {
    display: flex;
    grid-template-rows: 2em 1fr;
    margin: 20px;
    width: 380px;
    height: 200px;

}

.roleHighlight {
    background-color: black;
    color: black;
    margin: 0;
    padding: 0.5em;
    border-radius: 10px 10px 0 0;
    font-weight: 500;
}

.roleTag {
    position: fixed;
    margin-left: -40px;
    margin-top: -40px;
}