@import './colourScheme.css';

.container {
    height: 40vh;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    padding-top: 16px;
}

b {
    text-align: center;
}
