.tableWrapper {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 3s;
}

.day {
    background-color: var(--dayBG);
    color: black;
}

.night {
    background-color: var(--nightBG);
    color: white;
}

.table {
    width: 60%;
    height: 70%;
    background-color: #b58343;
    border: 5px solid rgb(255 208 147);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.199);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trialBox {
    display: flex;
    flex-direction: column;
}

/* .overlay {
    height: calc(100% + 200px);
    width: 100%;
    position: absolute;
    background-color: rgba(29, 29, 29, 0.37);
} */
